extends ../layout
block content
    a(href="/bicicletas") Volver
    br
    br
    #container.contenedor
        h1 Modificar Bicicleta
        br
        br
        form(action=`bicicletas/${bici.id}/editar` method="post")
            label.col(for="id") ID:
            input#id(type="text" name="id" value=bici.id)
            br
            label.col(for="color") COLOR:
            input#color(type="text" name="color" value=bici.color)
            br
            label.col(for="modelo") MODELO:
            input#modelo(type="text" name="modelo" value=bici.modelo)
            br
            label.col(for="latitud") LATITUD:
            input#latitud(type="text" name="latitud" value=bici.ubicacion[0])
            br
            label.col(for="longitud") LONGITUD:
            input#longitud(type="text" name="longitud" value=bici.ubicacion[1])
            br
            br
            input.btn(type="submit" value="OK")