extends ../layout
block content
    a(href="/bicicletas") Volver
    br
    br
    #container.contenedor
        h1 Nueva Bicicleta
        br
        form(action="/bicicletas/formulario" method="post")
            label.col(for="id") ID:
            input#id(type="text" name="id")
            br
            label.col(for="color") COLOR:
            input#color(type="text" name="color")
            br
            label.col(for="modelo") MODELO:
            input#modelo(type="text" name="modelo")
            br
            label.col(for="latitud") LATITUD:
            input#latitud(type="text" name="latitud")
            br
            label.col(for="longitud") LONGITUD:
            input#longitud(type="text" name="longitud")
            br
            br
            input.btn(type="submit" value="OK")